<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><%= link_to 'Home', admin_root_path, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item"><%= link_to 'Bikes', admin_bikes_path, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item active" aria-current="page">List Bikes</li>
      </ol>
    </nav>
  </div>
</div>
<%= render 'layouts/message' %>
<%= form_with url: admin_bikes_path, method: :get, class: "row row-cols-lg-auto g-3 align-items-center" do |form| %>
  <div class="col-12">
    <div class="input-group">
      <%= form.text_field :filter, value: params[:filter], class: 'form-control', placeholder: "Filter" %>
    </div>
  </div>
  <div class="col-12">
    <%= form.collection_select :category_id, @categories, :id, :name, { prompt: '--Category--' }, { class: "form-select" } %>
  </div>
  <div class="col-12">
    <%= form.select :status, @status, { prompt: '--Status--' }, { class: "form-select" } %>
  </div>
  <div class="col-12">
    <%= form.submit "Filter", class: "btn btn-primary" %>
  </div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">License Plates</th>
      <th scope="col">Lessor</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @bikes.each do |bike| %>
    <tr>
      <th scope="row"><%= bike.id %></th>
      <td><%= bike.name %></td>
      <td><%= bike.license_plates %></td>
      <td><%= bike.user.name %></td>
      <td><%= bike.images.first.present? ? image_tag(bike.images.first, style:"width:100px; height:100px") : image_tag("bike_default.png", style:"width:100px; height:100px") %></td>
      <td><%= bike.price %></td>
      <td><%= bike.category.name %></td>
      <td><%= bike.status %></td>
      <td>
        <%= link_to '', admin_bike_path(bike.id), class: "bi bi-search" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @bikes, window: 2, theme: 'bootstrap-5',
                                pagination_class: "d-flex justify-content-center" %>
