<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>
    <%= render 'layouts/message' %>
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="my-3">Images</h5>
            <% @bike.images.each do |image| %>
              <%= image_tag image, style:"width:100px; height:100px" %>
            <% end %>
            <div class="d-flex justify-content-center my-4">
              <%= link_to_if @bike.pending?, 'Approve', admin_bikes_approve_path(@bike.id), data: { turbo_method: :patch }, class: "btn btn-outline-primary ms-1" %>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <h5 class="text-center p-3">Calendar</h5>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Start Day</th>
                  <th scope="col">End Day</th>
                </tr>
              </thead>
              <tbody>
                <% @bike.calendars.each do |calendar| %>
                  <tr>
                    <td><%= calendar.id %></td>
                    <td><%= calendar.start_day %></td>
                    <td><%= calendar.end_day %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @bike.name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">License Plates</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @bike.license_plates %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Price</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @bike.price %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Status</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @bike.status %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Category</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @bike.category.name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">User</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @bike.user.name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Description</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @bike.description %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Approver</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @bike.admin.nil? ? '' : @bike.admin.name %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<h5 class='text-center display-5 text-info'>History</h5>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bike</th>
      <th scope="col">License Plates</th>
      <th scope="col">Renter</th>
      <th scope="col">Lessor</th>
      <th scope="col">Status</th>
      <th scope="col">Start Day</th>
      <th scope="col">End Day</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <th scope="row"><%= booking.id %></th>
        <td><%= booking.bike.name %></td>
        <td><%= booking.bike.license_plates %></td>
        <td><%= booking.user.name %></td>
        <td><%= booking.bike.user.name %></td>
        <td><%= booking.status %></td>
        <td><%= booking.booking_start_day %></td>
        <td><%= booking.booking_end_day %></td>
        <td><%= total_price(booking) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @bookings, window: 2, theme: 'bootstrap-5',
                                pagination_class: "d-flex justify-content-center" %>
