<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><%= link_to 'Home', root_path, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item"><%= link_to 'User', current_user, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item active" aria-current="page">Search Bike</li>
      </ol>
    </nav>
  </div>
</div>

<%= render 'layouts/message' %>

<div class="row d-flex align-items-center justify-content-center">
  <%= form_with url: new_booking_path, method: :get, class: "row row-cols-lg-auto g-3 align-items-center" do |f| %>
    <div class="col-12">
      <div class="input-group">
        <%= f.label :start_day, class: "pt-1 me-2" %>
        <%= f.date_field :start_day, value: params[:start_day], class: "form-control", id: "datepicker1" %>
      </div>
    </div>
    <div class="col-12">
      <div class="input-group">
        <%= f.label :end_day, class: "pt-1 me-2" %>
        <%= f.date_field :end_day, value: params[:end_day], class: "form-control", id: "datepicker2" %>
      </div>
    </div>
    <div class="col-12">
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">License Plates</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @bikes.each do |bike| %>
    <tr>
      <th scope="row"><%= bike.id %></th>
      <td><%= bike.name %></td>
      <td><%= bike.license_plates %></td>
      <td><%= bike.images.first.present? ? image_tag(bike.images.first, style:"width:100px; height:100px") : image_tag("bike_default.png", style:"width:100px; height:100px") %></td>
      <td><%= bike.price %></td>
      <td><%= bike.category.name %></td>
      <td><%= bike.status %></td>
      <td>
        <%= form_with model: @booking do |f| %>
          <%= f.hidden_field :booking_start_day, value: params[:start_day] %>
          <%= f.hidden_field :booking_end_day, value: params[:end_day] %>
          <%= f.hidden_field :bike_id, value: bike.id %>
          <%= f.submit "Booking", class: "btn btn-primary" %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @bikes, window: 2, theme: 'bootstrap-5',
                                pagination_class: "d-flex justify-content-center" %>
