<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><%= link_to 'Home', root_path, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item"><%= link_to 'User', current_user, class: "text-decoration-none" %></li>
        <li class="breadcrumb-item active" aria-current="page">New Booking</li>
      </ol>
    </nav>
  </div>
</div>
<%= render 'layouts/message' %>
<%= form_with url: bookings_path, method: :get, class: "row row-cols-lg-auto g-3 align-items-center" do |form| %>
  <div class="col-12">
    <div class="input-group">
      <%= form.text_field :search, value: params[:search], class: 'form-control', placeholder: "Search" %>
    </div>
  </div>
  <div class="col-12">
    <%= form.date_field :start_day, value: params[:start_day], class: "form-control", id: "datepicker1" %>
  </div>
  <div class="col-12">
    <%= form.date_field :end_day, value: params[:end_day], class: "form-control", id: "datepicker2" %>
  </div>
  <div class="col-12">
    <%= form.select :status, @status, { prompt: '--Status--' }, { class: "form-select" } %>
  </div>
  <div class="col-12">
    <%= form.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Bike</th>
      <th scope="col">License Plates</th>
      <th scope="col">Lessor</th>
      <th scope="col">Status</th>
      <th scope="col">Start Day</th>
      <th scope="col">End Day</th>
      <th scope="col">Total Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <th scope="row"><%= booking.id %></th>
        <td><%= booking.bike.name %></td>
        <td><%= booking.bike.license_plates %></td>
        <td><%= booking.bike.user.name %></td>
        <td><%= booking.status %></td>
        <td><%= booking.booking_start_day %></td>
        <td><%= booking.booking_end_day %></td>
        <td><%= total_price(booking) %></td>
        <td>
          <%= link_to '', booking_path(booking.id), class: "bi bi-search" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @bookings, window: 2, theme: 'bootstrap-5',
                                pagination_class: "d-flex justify-content-center" %>
