<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><%= link_to 'Home', root_path, class: "text-decoration-none" %></li>
            <li class="breadcrumb-item"><%= link_to 'User', current_user, class: "text-decoration-none" %></li>
            <li class="breadcrumb-item active" aria-current="page">Booking Information</li>
          </ol>
        </nav>
      </div>
    </div>

    <%= render 'layouts/message' %>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="my-3">Bike Images</h5>
            <% @booking.bike.images.each do |image| %>
              <%= image_tag image, style:"width:100px; height:100px" %>
            <% end %>
            <div class="d-flex justify-content-center my-4">
             <% if @booking.booking_statuses.last.pending? && @current_user.lessor? %>
                <%= form_with url: booking_booking_statuses_path, method: :post, data: { turbo_confirm: 'Are you sure?' } do |form| %>
                  <%= form.hidden_field :booking_id, value: @booking.id %>
                  <%= form.button "Approve", class: "btn btn-outline-success ms-1"%>
                <% end %>
              <% end %>
              
              <% if @booking.booking_statuses.last.pending? || @booking.booking_statuses.last.booking? %>
                <%= form_with url: booking_statuses_path, method: :post, data: { turbo_confirm: 'Are you sure?' } do |form| %>
                  <%= form.hidden_field :booking_id, value: @booking.id %>
                  <%= form.button "Cancel", class: "btn btn-outline-danger ms-1"%>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
          <h5 class="text-center p-3">List Status</h5>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Timestamps</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <% @booking_statuses.each do |booking| %>
                <tr>
                  <th scope="row"><%= booking.id %></th>
                  <td><%= booking.created_at %></td>
                  <td><%= booking.status %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Bike</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @booking.bike.name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">License Plates</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @booking.bike.license_plates %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Lessor</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @booking.bike.user.name %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Start Day</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @booking.booking_start_day %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">End Day</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @booking.booking_end_day %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Rating</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @booking.rating %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Comment</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @booking.comment %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Bike Price</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @booking.bike.price %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Total Price</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"><%= (@booking.booking_end_day - @booking.booking_start_day) * @booking.bike.price %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
