<nav class="border-bottom m-0" aria-label="breadcrumb">
  <h1 class="display-5">List Bikes</h5>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  <% @bikes.each do |bike| %>
    <tr>
      <th scope="row"><%= bike.id %></th>
      <td><%= bike.name %></td>
      <td><%= bike.images.first.present? ? image_tag(bike.images.first, style:"width:100px; height:100px") : image_tag("bike_default.png", style:"width:100px; height:100px") %></td>
      <td><%= bike.price %></td>
      <td><%= bike.category.name %></td>
      <td><%= bike.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @bikes, window: 2, theme: 'bootstrap-5',
                                pagination_class: "d-flex justify-content-center" %>