<nav class="border-bottom m-0" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
  <h1 class="display-5">List Category</h5>
</nav>
<%= render 'layouts/message' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <th scope="row"><%= category.id %></th>
      <td><%= category.name %></td>
      <td>
        <%= link_to '', admin_category_path(category.id), class: "bi bi-search" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @categories, window: 2, theme: 'bootstrap-5',
                                pagination_class: "d-flex justify-content-center" %>
