<div class="row w-100"> 
  <div class="col-2 bg-light h-100" style="min-height: 930px">
    <div class="row justify-content-center items-align-center text-center" style="min-height: 200px">
      <%= current_user.avatar.present? ? image_tag(current_user.avatar, class:"h-100 w-100 rounded-circle mt-3", style:"max-height: 200px; max-width: 200px") : image_tag("avatar_default.jpg", class:"h-100 w-100 rounded-circle mt-3", style:"max-height: 200px; max-width: 200px") %>
      <%= link_to current_user.name, current_user, class: "nav-link link-dark px-2 bi bi-person" %>
    </div>
    <hr>
    <ul class="list-unstyled ps-0 mx-5">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#bikes-collapse" aria-expanded="false">
          <i class="bi bi-bicycle"></i> Bikes
        </button>
        <div class="collapse" id="bikes-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><%= link_to 'Add Bike', new_bike_path, class: "bi bi-dot nav-link link-dark rounded" %></li>
            <li><%= link_to 'List Bikes', bikes_path, class: "bi bi-dot nav-link link-dark rounded" %></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#calendar-collapse" aria-expanded="false">
          <i class="bi bi bi-calendar"></i> Calendars
        </button>
        <div class="collapse" id="calendar-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><%= link_to 'Add time', new_calendar_path, class: "bi bi-dot nav-link link-dark rounded " %></li>
            <li><%= link_to 'Calendar', calendars_path, class: "bi bi-dot nav-link link-dark rounded " %></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#booking-collapse" aria-expanded="false">
          <i class="bi bi-bookmark-star"></i> Bookings
        </button>
        <div class="collapse" id="booking-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><%= link_to 'List Booking', bookings_path, class: "bi bi-dot nav-link link-dark rounded" %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-10">
    <header class="py-1 border-bottom bg-light">
      <div class="container d-flex justify-content-end align-items-center">
        <ul class="nav">
          <li><%= link_to " Log out", logout_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "nav-link link-dark bi bi-box-arrow-right" %></li>
        </ul>
      </div>
    </header>
    <%= yield %> 
    <%= render 'layouts/footer' %>
  </div>
</div>
